:root {
    --gray-color: #707070;
    --gray-lightest-color: #e1e1e1;
    --gray-darkest-color: #333;
    --red-color: #C86A6A;
    --black-color: #111;

    --brand-orange-color: #f7941e;
    --brand-gray-color: #939598;
}